<center>
    <h1>ALBUM COLLECTION</h1>
<a href="/albums/new">Add an Album</a> or
<a class="button" href="/users/account">Go to Homepage</a>
</center>


<% @albums.each do |album| %>
    <ol>
    
        <h3><a href="/albums/<%= album.id %>"><%= album.title %></a></h3>
        <img src="<%= album.image %>" alt="album" width="300" height="300">
        <a class="button" href="/albums/<%=album.id%>/edit">Edit</a>
        <h3><%= album.artist %></h3>
        <p><%= album.release_date %></p>
        <p><%= album.description %></p>
        <br>
        <br>
        
    </ol>
<% end %>
<br>

  