<center>
<h1>Edit Your Album</h1>
<% #binding.pry%>
<form action="/albums/<%=@album.id%>" method="post">
    <input id="hidden" type="hidden" name="_method" value="PATCH">
    Title:
    <input type="text" name="title" value="<%=@album.title%>">
    <br>
    Artist:
    <input type="text" name="artist" value="<%=@album.artist%>">
    <br>
    Release Date:
    <input type="text" name="release_date" value="<%=@album.release_date%>">
    <br>
    Description:
    <input type="" name="description" value="<%=@album.description%>">
    <br>
    Image:
    <input type="url" name="image" value="<%=@album.image%>">
    <br>
    <br>
    <input type="submit" name="submit">
</form>
</center>