<% @albums.each do |album| %>
    <strong>Title:</strong> <%= album.title %>
    <br>
    <strong>Artist:</strong><%= album.artist %>
    <br>
    <strong>Release Date:</strong><%= album.release_date%>
    <br>
    <strong>Description:</strong><%= ablum.description %>
  
    <a class="button" href="/albums/<%=album.id%>/edit">Edit Your Collection</a>
    <br>
    
    <form method="post" action="/albums/<% album.id %>">
    <input type="hidden" name="_method" value="delete">
    <input type="submit" value="delete">
    </form>
    <% end %>
  
    <!-- back to user's home page -->
    <a class="button" href="/users/account">HOME</a>