<h3><%= @album.title %></h2>
<img src="<%= @album.image %>" alt="album" width="300" height="300">
<h3><%= @album.artist %></h3>
<p><%= @album.release_date %></p>
<p><%= @album.description %></p>


<form method="patch" action="/albums/<%=@album.id%>/edit">
    <input type="hidden" name="_method" value="edit">
    <input type="submit" value="Edit">
</form>
<form method="post" action="/albums/<%=@album.id%>">
    <input type="hidden" name="_method" value="delete">
    <input type="submit" value="Delete">
</form>
<form method="post" action="/albums/collection">
    <input type="hidden" name="_method" value="Home">
    <input type="submit" value="Home">
</form>

